@model ViewModelAspCore.Models.SchoolViewModel

<h3>Students</h3>
<ul>
    @foreach (var student in Model.Students)
    {
        <li>@student.Name - Grade: @student.Grade</li>
    }
</ul>

<h3>Teachers</h3>
<ul>
    @foreach (var teacher in Model.Teachers)
    {
        <li>@teacher.Name - Subject: @teacher.Subject</li>
    }
</ul>
